*{
    text-align: center;
    padding: 5px;
}

body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: auto;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }

  50% {
      background-position: 100% 50%;
  }

  100% {
      background-position: 0% 50%;
  }
}

.AuswahlDiv{
    display: flex;
    justify-content: center;
}

.ButtonStyle{
    

}

Auswahl {
    /* Reset Select */
    appearance: none;
    outline: 10px red;
    border: 0;
    box-shadow: none;
    /* Personalize */
    flex: 1;
    padding: 0 1em;
    color: #fff;
    background-color: var(--darkgray);
    background-image: none;
    cursor: pointer;
  }
  /* Remove IE arrow */
  Auswahl::-ms-expand {
    display: none;
  }
  /* Custom Select wrapper */
  .Auswahl {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    border-radius: .25em;
    overflow: hidden;
  }
  /* Arrow */
  .Auswahl::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    background-color: #34495e;
    transition: .25s all ease;
    pointer-events: none;
  }
  /* Transition */
  .Auswahl:hover::after {
    color: #f39c12;
  }

  #result{

    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bold;

  }

  #convert {
    display: inline-block;
    padding: 15px 25px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4a71cc;
    border: none;
    border-radius: 15px;
   
  }
  
  #convert:hover {background-color: #0c407c}
  
  